.container {
    display: grid;
    height: 100px;
    grid-template-columns: 100px 50px 50px;
    grid-template-rows:  100px 50px;
    column-gap: 10px;
    row-gap: 20px;
}

.item {
    background-color: blueviolet;
    color: white;
    font-weight: bold;
}

.one {
    background-color: rgb(81, 164, 164);
}

.two {
    background-color: rgb(114, 114, 153);
}

.three {
    background-color: rgb(88, 132, 117);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.four {
    background-color: rgb(63, 138, 153);
    order: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}